

#autoCompleteDropdownMenu {

  .menu {
    position: absolute;
    width: 150px;
    border: 1px solid lightgray;
    border-radius: 5px;
    z-index: 1000;

    .row {
      padding: 5px;
      display: flex;
      color: black;
      border-bottom: 1px solid lightgray;
      margin: 0px;
      background: white;
      z-index: 1000;
      justify-content: center;
    }

    .row:hover{
      cursor: pointer;
    }

    .selectColor {
      background: cornflowerblue;
    }

  }

  .inputDiv {
    width: auto;
    display: inline-block;
    visibility: hidden;
    position: fixed;
    overflow: auto;
  }

}